@using Mvc.Mailer;
<h4>Join HCL Next Gen Solutions</h4>
Hello <br />

I invite you to join HCL Next Gen Solution and enjoy your time!
<a href="@Url.Abs(Url.Action("Login", "Account", new { guid = ViewBag.group }))">Join Now</a>