<h4>Reset Password</h4>
<p>Reset your HCL Next Gen Solution password by clicking the following link.</p>
<a href="@Url.Abs(Url.Action("ResetPassword", "Account", new { guid = ViewBag.token }))">Reset Now</a>