@{
    ViewBag.Title = "SupportGoal";
}
<h2>Join HCL Next Gen Solutions and Support My Goal.</h2>
Hello<br />

I invite you to join HCL Next Gen Solution and enjoy your time!
<a href="@Url.Abs(Url.Action("Login", "Account", new { guid = ViewBag.goal }))">Join Now</a>


