﻿@model IEnumerable<HCLNextGenSocial.Web.ViewModels.GoalViewModel>
@{
    ViewBag.Title = "MyGoals";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}
@if (Model.Count() == 0)
{
    <div class ="alert alert-info">
   No results To Display
   </div>
}
@foreach (var item in Model)
{ 
    <div class="span2 alert goals">
         <div>
            @Html.ActionLink(@item.GoalName +" - " +@item.Supports.Count()+" Support(s)", "Index", "Goal", new { id = @item.GoalId }, null) 
            </div>
        
    </div>
}
