﻿@model HCLNextGenSocial.Model.Models.GroupUpdate

@{
    ViewBag.Title = "_DeleteUpdate";
}

<div class="span12 alert alert-block alert-error fade in">
    
  <strong>Are you sure, you want to delete this update..?</strong>
    
    <table style="font-size:13px;font-weight:bold;">
        <tr >
            <td>  Message :</td>
            <td>@Html.DisplayFor(model => model.Updatemsg)</td>
        </tr>
        <tr>
            <td>Status :</td>
            <td>
               @Html.DisplayFor(model => model.status)
                    @if (Model.GroupGoal.Metric != null && Model.GroupGoal.Target != null)
                    {                        
                            @Model.GroupGoal.Metric.Type  @:/ @Model.GroupGoal.Target @Model.GroupGoal.Metric.Type 
                    }
            </td>
        </tr>
        
        
    </table>
    
    <div id="divDelete@(Model.GroupUpdateId)">
    </div>
    @using (Html.BeginForm())
    {
        <p>
            <button class="btn btn-danger" type="submit" value="Submit">
                Delete</button>
                 <button class="btn" type="reset" value="Cancel" onclick="GroupCancel('@Model.GroupGoalId')">
        Cancel</button>
        </p>
      
        
    }
   
</div>
